// Import page-specific CSS files here.
@import "home";
@import "show-reservation";
@import "create";

.grid-four-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 992px) {
  .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid-four-col {
    grid-template-columns: 1fr;
  }
}

.card-devise {
  color: $gray;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.btn-form {
  margin-bottom: 20px;
}
