<h1>All Spaceships</h1>
  <% @spaceships.each do |spaceship| %>
    <li class="list-group-item">
        <p> <%=  link_to spaceship.name, spaceship_path(spaceship) %>
        </p>
        <p> $<%=  spaceship.price %>
        </p>
        <p> Capacity: <%=  spaceship.capacity %>
        </p>
    </li>
     <% end %>
