/* INDEX */

.background-star {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);
}

.white-text {
  color: $white;
}

* {
  margin: 0;
  padding: 0;
}

.display-body {
  padding: 40px 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $body-font;
  position: relative;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.search-bar {
  width: 400px;
  position: absolute;
  top: 13px;
  left: 36%;
  z-index: 2;
}
