/* INDEX */

.background-star {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);

  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.display-body {
  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

body {
  font-family: $body-font;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
