.card-spaceship {
  background-color: white;
  color: $gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;

  img {
    width: 100%;
    height: 450px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: larger;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;

  .card-details-features {
    display: flex;
    justify-content: space-between;
  }

  .flex-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-description {
    text-align: justify;
  }

  h1 {
    padding-bottom: 10px;
    border-bottom: solid 1px #ced4da;
  }
}

.card-form {
  color: $gray;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sticky {
  position: fixed;
  top: 25px;
}

.owner-info {
  margin-left: 25px;
}
