.grip-create-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-create-spaceship {
  color: white;
  width: 280px;

}

.content-create-spaceship {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;

  h1 {
    padding: 8px;
  }
}
