.grip-create-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-create-spaceship {
  color: $gray;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.content-create-spaceship {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;

  h1 {
    padding: 8px;
  }
}
