* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.grid-four-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 992px) {
  .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid-four-col {
    grid-template-columns: 1fr;
  }
}

.display-body {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* INDEX */

.background-star {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);
}
