.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container_fluid {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-logo {
  font-size: 40px;
  color: $blue;
}

.navbar-icon {
  font-size: 20px;
}
